{
  "devicetype": "{{vm_device_type}}",
  "os_sub_type": 'windows server',
  "tier": "{{vm_tier}}",
  "fqdn": "{{vm_name}}",
  "ostype": "{{inventory_host_ostype}}",
  "ipaddress": "{{inventory_host_ip}}",
  "ansible_host": "{{inventory_host_ip}}"
}
